@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.header{
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #240aa7, #d73c24);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  margin: 10px;
}

.subHeader{
  font-size: 30px;
  font-weight: 400;;
  color: grey;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 10px;
}

.bracket{
  width: 100%;
  padding: 15px; 
  height: 450px;
  overflow: hidden;
  border-radius: 10px;
}

.boxContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
  border-radius: 10px;
  overflow: hidden;
  height: 465px;
  max-width: 1000px;
  width: 100%;
}

.centerDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}